#answer_input{
    width: 40%;
}

#check
{
 background-color:#ffffff;
 color: #212F3C;
 transition: all 0.35s ease;
 border-radius:5px;
}

#check:hover
{
 border: 1px solid #ffffff;
 background-color:rgb(0, 0, 0);
 color:#ffffff;
 animation: shake 0.005s 100 linear alternate;
}

#output {
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
margin: 30px;
float: none;
text-align: center;
}

#number1 + #number2 {
    width: 60%;
}